django
Pillow
numpy
pandas
python-dotenv
regex
geopy
django-rq
rq-scheduler
wheel
django-debug-toolbar
django-redis
environ
gunicorn
psycopg2-binary
django-environ
qrcode
djangorestframework
django-storages
django-template-partials
django-extensions